.split {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
}

.js-source {
  left: 0;
}

.js-ast {
  left: 25%;
  border-left: 1px solid grey;
  overflow: auto;
}

.coq-ast {
  left: 50%;
  border-left: 1px solid grey;
  overflow: auto;
}

.coq-source {
  right: 0;
  border-left: 1px solid grey;
  overflow: auto;
}

h1 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

textarea {
  box-sizing: border-box;
  border: none;
  min-height: 100%;
  height: 100%;
  resize: none;
  min-width: 100%;
  width: 100%;
  padding: 10px;
  margin: 0px;
}

pre {
  padding: 10px;
  margin: 0px;
}
