.header {
  background-color: #24292e;
  color: white;
  margin: 0px;
  padding: 20px 15px 20px 15px;
}

.header h1 {
  margin: 0px;
  font-size: 26px;
}

.header h1 .logo {
  margin-right: 7px;
}

.header h1 .sub-title {
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

.split {
  width: 25%;
  position: fixed;
  top: 70px;
  bottom: 0px;
}

.js-source {
  bottom: 30px;
  left: 0%;
}

.coq-source {
  left: 25%;
  border-left: 1px solid grey;
  overflow: auto;
}

.js-ast {
  left: 50%;
  border-left: 1px solid grey;
  overflow: auto;
  background-color: lightgrey;
}

.coq-ast {
  left: 75%;
  border-left: 1px solid grey;
  overflow: auto;
  background-color: lightgrey;
}

@media (max-width: 768px) {
  .split {
    width: 50%;
  }

  .coq-source {
    left: 50%;
  }

  .js-ast, .coq-ast {
    display: none;
  }
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

textarea {
  border: none;
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}

pre {
  padding: 10px;
  margin: 0px;
}
